* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightGreen-color: #7ed56f;
    --mediumGreen-color: #55c57a;
    --darkGreen-color: #28b485;
    --grey-color: #777;
    --white-color: #fff;
}

body {
    padding: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: var(--grey-color);
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            hsla(111, 55%, 64%, 0.8),
            hsla(160, 64%, 43%, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.header__text {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header__title {
    margin-bottom: 60px;
    color: var(--white-color);
    text-transform: uppercase;
    backface-visibility: hidden;
}

.header__title-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header__title-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 

.btn:link,
.btn:visited {
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .2s, box-shadow .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: var(--white-color);
    color: var(--grey-color);
}

.btn::after {
    position: absolute;
    content: '';
    display: inline-block;
    border-radius: 100px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .4s, opacity .4s;
}

.btn--white::after {
    background-color: var(--white-color);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}