@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-horizonral-vertical ($top, $left, $transform) {
    position: absolute;
    top: $top;
    left: $left;
    transform: $transform;
}